---
title: Noah Singer
permalink: /
layout: default
---

<div class="row">
  <div class="col-md-3 mb-4">
    <div class="card">
      <img class="card-img-top" src="/static/images/noahsinger.jpg"/>
      <div class="card-body">
        <div class="card-text">
          <i class="fas fa-user"></i> Noah Singer (<a href="https://www.mypronouns.org/he-him" target="_blank">he/him</a>)<br/>
          <i class="fas fa-building"></i> Harvard University<br/>
          <i class="fas fa-envelope"></i> <em>first</em> <em>last</em> <em>(at)</em> college <em>(dot)</em> harvard <em>(dot)</em> edu<br/>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 mb-4">
    <h1>About Me</h1>
    <p>I study computer science and math at Harvard University (Pforzheimer House '22). My research is in theoretical computer science. At Harvard, I am fortunate to be working at Harvard with Prof. <a href="https://madhu.seas.harvard.edu">Madhu Sudan</a> on streaming and communication complexity. I also participated in the 2021 <a href="https://reu.dimacs.rutgers.edu">DIMACS REU program</a>, where I worked with Prof. <a href="https://www.cs.rutgers.edu/~allender/">Eric Allender</a> on metacomplexity (see my <a href="https://reu.dimacs.rutgers.edu/~ns1313/">project blog</a>). As of Fall 2021, I am applying to CS Ph.D. programs. <a href="/index/cv.pdf">Here</a> is my CV.</p>
    <br/>

    <div class="p-3">
      <div class="row section pt-3">
        <div class="col">
          <h3>Interests</h3>

          <p>I have broad interests in theoretical computer science, including in complexity, cryptography, and algorithms. Specific interests include using mathematical techniques (e.g. algebra, Boolean Fourier analysis) to answer questions about computation, and studying the role of interaction in computation (e.g. communication complexity, oracle complexity, zero-knowledge proofs).</p>
        </div>
      </div>

      <div class="row section pt-3">
        <div class="col">
          <h3>Papers</h3>

            <p>
            <ul class="paper-list">
            {% for paper in site.data.papers %}
            {% if paper.select %}
            {% include paper.html paper=paper show_abstract=false %}
            {% endif %}
            {% endfor %}
            </ul>

            A full list of my papers and other writing may be found <a href="/papers">here</a>.</p>
        </div>
      </div>

      <div class="row section pt-3">
        <div class="col">
          <h3>Activities</h3>

          <p><strong>Teaching.</strong>
            I have been a teaching assistant for the following courses:
            <ul>
              <li><a href="http://people.seas.harvard.edu/~madhusudan/courses/Fall2021/"><em>CS 121: Introduction to Theoretical Computer Science</em> (Fall 2021)</a></li>
              <li><a href="http://sites.fas.harvard.edu/~libcs124/cs124/index.html"><em>CS 124: Data Structures and Algorithms</em> (Spring 2021)</a></li>
              <li><a href="http://people.seas.harvard.edu/~madhusudan/courses/Fall2020/"><em>CS 121: Introduction to Theoretical Computer Science</em> (Fall 2020)</a></li>
              <li><a href="https://read.seas.harvard.edu/cs161/2020/"><em>CS 161: Operating Systems</em> (Spring 2020)</a></li>
              <li><a href="https://cs121.boazbarak.org"><em>CS 121: Introduction to Theoretical Computer Science</em> (Fall 2019)</a></li>
            </ul>
          In CS 121 (Fall 2019 and 2020), I organized guest lectures in the "CS 121.5" advanced section.</p>

          <p><strong>Community.</strong> Since 2020, I have been a CS <a href="https://harvardcs.info/advising/pca/">Peer Concentration Adviser</a> and <a href="https://www.harvardwics.com/mentorships">Women in CS (WiCS) mentor</a>. In Spring 2019, I worked with Harvard's <a href="http://digilit.io/">Digital Literacy Project</a>
            to teach Scratch and Processing.js to Boston-area middle school students.

          <p><strong>Work Experience.</strong>
          In Summer 2019, I worked as a software engineering intern at Airbnb in San Francisco on the Host Growth &amp; Traffic team, where I built a production data pipeline to discover and manage large quantities of Google search advertising keywords targeting Airbnb hosts.</p>
        </div>
      </div>

      <div class="row section pt-3">
        <div class="col">
          <h3>Hobbies</h3>
          
          <p><strong>Literature.</strong> I love science fiction! My favorite short story is William Gibson's <a href="http://www.lib.ru/GIBSON/frag_rose.txt">Fragments of
            a Hologram Rose</a>. Some of my favorite novels are Gibson's <em>Neuromancer</em>,
            Le Guin's <em>The Dispossessed</em>, Jemisin's <em>The Fifth Season</em>, Robinson's <em>Red Mars</em>,
            and Murakami's <em>The Wind-Up Bird Chronicle</em>.</p>

          <p><strong>Music.</strong> I listen to a lot of music, including indie rock, electronica,
            and hip hop; my favorite artists include The Strokes, Ratatat, Gorillaz, and Daft
            Punk. I also play classical piano.</p>

          <p><strong>Other.</strong> I love to watch TV shows; <a href="/cooking">bake and cook</a>; play tennis and go on long walks; and watch hockey (go Caps!) and basketball.</p>
        </div>
      </div>
    </div>
  </div>
</div>
