---
title: Noah Singer
permalink: /
layout: default
---

<div class="row">
  <div class="col-md-3 mb-4">
    <div class="card">
      <img class="card-img-top" src="/static/images/noahsinger.jpg"/>
      <div class="card-body">
        <div class="card-text">
          <i class="fas fa-user"></i> Noah Singer (<a href="https://www.mypronouns.org/he-him" target="_blank">he/him</a>)<br/>
          <i class="fas fa-building"></i> Carnegie Mellon University<br/>
          <i class="fas fa-envelope"></i> <em>first initial</em> g <em>last name</em> <em>(at)</em> andrew <em>(dot)</em> cmu <em>(dot)</em> edu<br/>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 mb-4">
    <h1>About Me</h1>
    <p>I'm interested in theoretical computer science. This fall, I'll be starting my Ph.D. in the Computer Science Department at Carnegie Mellon University, where I'll be supported by an NSF GRFP fellowship. This summer,
    I'm continuing working on research and wrapping up some writing projects.</p>

    <p>In Spring 2022, I graduated with an A.B. in Computer Science and Math from Harvard (Pforzheimer House '22), where I was fortunate to work with Prof. <a href="https://madhu.seas.harvard.edu">Madhu Sudan</a> on streaming and communication complexity. <a href="/index/cv.pdf">Here</a> is my CV.</p>
    <br/>

    <div class="p-3">
      <div class="row section pt-3">
        <div class="col">
          <h3>Interests</h3>

          <p>I have broad theoretical interests, including in complexity, cryptography, algorithms, and combinatorics. One general theme of interest is applications of mathematical techniques, such as algebra, Boolean Fourier analysis, or spectral methods, to answer questions about computation. My undergrad research
          centered on the complexity of constraint satisfaction problems, and specifically on
          lower bounds and algorithms in the streaming setting.</p>
        </div>
      </div>

      <div class="row section pt-3">
        <div class="col">
          <h3>Papers</h3>

            <p>
            <ul class="paper-list">
            {% for paper in site.data.papers %}
            {% if paper.select %}
            {% include paper.html paper=paper short=1 %}
            {% endif %}
            {% endfor %}
            </ul>

            A full list of my papers and other writing may be found <a href="/papers">here</a>.</p>
        </div>
      </div>

      <div class="row section pt-3">
        <div class="col">
          <h3>Activities</h3>

          <p><strong>Teaching.</strong>
            At Harvard, I was a teaching assistant for the following courses:
            <ul>
              <li><a href="http://people.seas.harvard.edu/~madhusudan/courses/Fall2021/"><em>CS 121: Introduction to Theoretical Computer Science</em> (Fall 2021)</a></li>
              <li><a href="http://sites.fas.harvard.edu/~libcs124/cs124/index.html"><em>CS 124: Data Structures and Algorithms</em> (Spring 2021)</a></li>
              <li><a href="http://people.seas.harvard.edu/~madhusudan/courses/Fall2020/"><em>CS 121: Introduction to Theoretical Computer Science</em> (Fall 2020)</a></li>
              <li><a href="https://read.seas.harvard.edu/cs161/2020/"><em>CS 161: Operating Systems</em> (Spring 2020)</a></li>
              <li><a href="https://cs121.boazbarak.org"><em>CS 121: Introduction to Theoretical Computer Science</em> (Fall 2019)</a></li>
            </ul>
          In CS 121 (Fall 2019 and 2020), I organized guest lectures in the "CS 121.5" advanced section.</p>

          <p>In Summer 2022, I was a teaching assistant for the 2022 <a href="https://tcs-summerschool.ttic.edu">New Horizons in TCS</a> program at TTIC.</p>

          <p><strong>Community.</strong> Since 2020, I have been a CS <a href="https://harvardcs.info/advising/pca/">Peer Concentration Adviser</a> and <a href="https://www.harvardwics.com/mentorships">Women in CS (WiCS) mentor</a>. In Spring 2019, I worked with Harvard's <a href="http://digilit.io/">Digital Literacy Project</a>
            to teach Scratch and Processing.js to Boston-area middle school students.

          <p><strong>Work Experience.</strong>
          In Summer 2019, I worked as a software engineering intern at Airbnb in San Francisco on the Host Growth &amp; Traffic team, where I built a production data pipeline to discover and manage large quantities of Google search advertising keywords targeting Airbnb hosts.</p>
        </div>
      </div>

      <div class="row section pt-3">
        <div class="col">
          <h3>Hobbies</h3>
          
          <p><strong>Literature.</strong> I love science fiction! My favorite short story is William Gibson's <a href="http://www.lib.ru/GIBSON/frag_rose.txt">Fragments of
            a Hologram Rose</a>. Some of my favorite novels are Gibson's <em>Neuromancer</em>,
            Le Guin's <em>The Dispossessed</em>, Jemisin's <em>The Fifth Season</em>, Robinson's <em>Red Mars</em>,
            and Murakami's <em>The Wind-Up Bird Chronicle</em>.</p>

          <p><strong>Music.</strong> I listen to a lot of music, including indie rock, electronica,
            and hip hop; my favorite artists include The Strokes, Ratatat, Gorillaz, and Daft
            Punk. I also play classical piano.</p>

          <p><strong>Podcasts.</strong> I like listening to podcasts, and some of my favorites are
            <a href="https://yourewrongabout.com">You're Wrong About</a>,
            <a href="https://www.maintenancephase.com">Maintenance Phase</a>,
            and <a href="https://www.alieward.com/ologies">Ologies</a>.</p>

          <p><strong>Other.</strong> I love to watch TV shows and listen to podcasts; <a href="/cooking">bake and cook</a>; play tennis and go on long walks; and watch hockey (go Caps!) and basketball.</p>
        </div>
      </div>
    </div>
  </div>
</div>
