<li>
    <span class="paper-title">{{ paper.title }}</span><br/>
    {{ paper.authors }} {% if paper.scribing %}Scribing {{ paper.scribing }}{% endif %}<br/>
    {% if paper.venue %}<em>{{ paper.venue }}</em><br/>{% endif %}
    <!-- {{ paper.date |  date: "%B %Y" }}.<br/> -->

    {% if paper.pdf %}
    <a href="/papers/{{ paper.pdf }}" target="_blank"><i class="fas fa-file-pdf"></i> PDF</a>
    {% endif %}

    {% if paper.arxiv %}
    <a href="https://arxiv.org/abs/{{ paper.arxiv }}" target="_blank"><i class="fas fa-book-open"></i> arXiv</a>
    {% endif %}
 </li>