$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-size-base: 1.1rem !default;
$headings-font-family: "Raleway", serif !default;
$headings-font-weight: 600;

$back-primary: #26408b;
$back-secondary: #26908b;
$link-color: #ef7a08;

@import "bootstrap/functions";
@import "bootstrap/variables";
