$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-size-base: 1.1rem !default;
$headings-font-family: "Raleway", serif !default;
$headings-font-weight: 600;

$back-primary: #000050;
$back-secondary: #280052;
$link-color: #e97402;
$mark-bg: #ebdfeb;

@import "bootstrap/functions";
@import "bootstrap/variables";
