---
title: Blog (singerng)
permalink: /blog
layout: default
---

<h1>Blog</h1>

{% for post in site.posts %}
<div>
  <a href="{{ post.url }}" class="text-dark">
    <h3>{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</h3>
  </a>

  <p class="text-muted">{{ post.date | date: "%B %d, %Y" }}</p>
  {{ post.excerpt | strip_html | truncatewords: 75 }}
  <br/><br/>

  {% include taglist.html tags=post.tags %}

  {% if forloop.last == false %}
    <hr/>
  {% endif %}
</div>
{% endfor %}
