---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@import "variables";

@import "bootstrap/mixins";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/code";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/utilities";
@import "bootstrap/dropdown";
@import "bootstrap/card";
@import "bootstrap/buttons";

@import "rouge";

.bg-gradient {
  background-image: linear-gradient(120deg, $back-primary, $back-secondary);
}

html {
  position: relative;
  min-height: 100%;
}

$footer-height: 60px;

body {
  margin-bottom: $footer-height;
}

main {
  padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: $footer-height;
  line-height: $footer-height;
}

.section {
  padding: .5rem;

  &:nth-child(even) {
    background-color: white;
  }

  &:nth-child(odd) {
    background-color: lighten($back-primary, 55%);
  }
}
