---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    display: inline;
    padding-right: 2em;
}

body {
    margin-top: 2em;
}

#content {
    width: 80%;
    margin: 0 auto;
}

.post-link, .post-link:active {
    text-decoration: none;
    color: inherit;
}

.muted {
    color: #aaa;
}
